@model IEnumerable<BusinessLogic.InvoiceDto>

@{
    ViewBag.Title = "Invoices";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoiceList</title>
</head>
<body>
    <p class="m-t-0">
        <a href="@Url.Action("Create", "Invoice")" class="btn btn-link btn-lg">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            New Invoice
        </a>
    </p>
    @{int rowNo = 1;}
    <table class="table">
        <tr class="header">
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVAT)
            </th>
            <th>
                Created by
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Updated by
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo++)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @(item.UpdatedBy != null ? item.UpdatedBy.FullName : "n.a")
                </td>
                <td>
                    @(item.UpdatedDate != null ? item.UpdatedDate.ToString() : "n.a")
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Invoice", new { Id = item.Id })" class="btn btn-link btn-lg p-0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
</body>
</html>
